* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.menu-button {
    display: none;
}
.dash-navbar {
    width: 100%;
    padding: 10px 0;
    position: fixed;
    z-index: 10;
    color: white;
}
.dash-navbar .dash {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dash-navbar .logo {
    width: 100px;
}
.dash-navbar .company-name {
    margin-bottom: 0;
    font-size: 20px;
}
.dash-navbar .article , .dash-navbar .jobs , .dash-navbar .cvs {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
@media (max-width:768px) {
    .menu-button {
        display: inline;
    }
    .dash-navbar .dash {
        display: none;
    }
    .dash-navbar {
        z-index: 100;
    }
    .menu {
        display: flex;
        justify-content: end;
        align-items: end;
        flex-direction: column;
        gap: 30px;
        position: relative;
    }
    .menu button {
        padding: 10px 15px ;
        background-color: #fff;
        border: 1px solid #fff;
        border-radius: 10px;
    }
    .menu-options {
        display: flex;
        justify-content: end;
        align-items: end;
        flex-direction: column;
        gap: 20px;
    }
}